.banner {
  height: 500px;
  text-align: center;
  box-shadow: 10px 10px 10px #64C9D3;
  margin-bottom: 70px;
  background-size: cover;
}

.banner h1 {
  color: white;
  font-size: 60px;
  padding-top: 80px;
  margin-bottom: 120px;
  text-shadow: 10px 10px 10px grey;
}


.banner a {
  color: #fff;
  font-size: 1.3em;
  font-weight: 500;
  padding: 20px;
  width: 150px;
  border: none;
  text-transform: uppercase;
  border-radius: 50px;
  transition: ease-in-out all 0.3s;
  background: linear-gradient(128deg, #04ffff, #ff2ce2);
}

.banner a:hover {
 animation: rainbow 1s infinite;
   cursor: pointer;
}

#navbarNavDropdown {
  margin-left: 650px;
}

