.card {
  width: 350px;
  height: 400px;
  margin : 30px auto;
  box-shadow: 20px 20px 20px #E9ECF1;
  padding: 20px
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  margin-left: 10px;

}


.cards img {
  height: 200px;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
  margin-left: 50px;
}
