.footer {
  height: 200px;
  background-color: #2C2B2B;
  color: grey;
  text-align: center;
}

.footer li {
  color: #1DDD88;
  list-style: none;
  display: inline-block;
  font-size: 30px;
  margin-top: 50px;
  padding-right: 15px;
}
